/* Site styles */
#result-container {
  display: none;
}

/* Overwrite */
.btn {
  margin-bottom: 10px;
}

.col.s12 > .btn {
  width: 100%;
}

/* Media */
@media (min-width: 601px) {
  .col.s12 > .btn {
    width: auto;
  }
}
